@import url('https://fonts.googleapis.com/css?family=Montserrat:700,900|Roboto:400,700&subset=cyrillic');

html, body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

.ds-h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 56px;
	text-transform: uppercase;
}

.ds-h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
}

.ds-p {
	font-size: 16px;
	font-weight: 400;
}

.ds-p--small {
	font-size: 12px;
}

.ds-section--black {
	background-color: #000000;
	color: #FFFFFF;
}

.ds-section__content {
	padding: 64px 32px;
    max-width: 1024px;
    margin: 0 auto;
}

.ds-header__content {
	padding-top: 32px;
	display: flex;
	justify-content: space-between;
}

.ds-separator {
	display: flex;
}

.ds-separator__link {
	display: block;
    color: rgba(0, 0, 0, .54);
    font-size: 24px;
    text-decoration: none;
    background-image: url(img/arrow-button-down.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 32px;
    margin: auto;
}

/*
Buttons 
*/

.ds-button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
	text-transform: uppercase;
	text-align: left;
    background-color: #1A6DE8;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 14px 32px;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, .12);
	transition: transform .2s;
}

.ds-button:hover {
	transform: scale(1.05);
}

.ds-button--go {
    padding-right: 64px;
    background-image: url(img/arrow-button-go.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
}

/*
Input
*/

@keyframes shake {
    10%, 90% {
		transform: translateX(-1px);
	}
    20%, 80% {
		transform: translateX(2px);
	}
    30%, 50%, 70% {
		transform: translateX(-4px);
	}
    40%, 60% {
		transform: translateX(4px); 
	}
}

.ds-input {
	width: 496px;
	margin-bottom: 48px;
}

.ds-input--last {
	margin-bottom: 64px;
}

.ds-input--invalid {
	animation: shake .4s;
}

.ds-input__label {
    display: block;
    color: rgba(255, 255, 255, .54);
    margin-bottom: 12px;
}

.ds-input--invalid .ds-input__label {
	color: #FF1F00;
}

.ds-input__input {
	box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.12);
	font-size: 20px;
    padding: 16px 24px;
	color: white;
	width: 100%;
	transition: background-color .2s;
}

.ds-input__input:focus {
	border-radius: 8px 8px 0 0;
    background-color: rgba(255, 255, 255, 0.2);
}

.ds-input__underline {
    height: 2px;
    margin: -2px auto 0;
    width: 100%;
	background-color: #1A6DE8;
	transform: scaleX(0);
	transition: transform .2s;
}

.ds-input__input:focus + .ds-input__underline {
	transform: scaleX(1);
}

/* 
Select
*/

@keyframes opacity {
	from {
		opacity: 0;
	}
}

.ds-select {
	position: relative;
}

.ds-select__input {
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	background-image: url(img/dropdown-arrow.svg);
	background-position: right 16px center;
	background-repeat: no-repeat;
	transition: .2s;
}

.ds-select__input:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.ds-select__dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: -8px;
	width: 100%;
    background-color: white;
    color: black;
    padding: 8px 0;
    border-radius: 8px;
	font-family: 'Roboto', sans-serif;
	z-index: 2;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, .25);
	animation: opacity .2s;
}

.ds-select__dropdown--open {
	display: block;
}

.ds-select__dropdown-item {
    font-size: 20px;
    padding: 16px 24px;
	cursor: pointer;
	transition: .2s;
}

.ds-select__dropdown-item--selected {
	color: #1A6DE8;
	background-color: #FAFAFA;
}

.ds-select__dropdown-item:hover {
	background-color: #F5F5F5;
}

/*
Footer
*/

.ds-footer {
	background-color: #000000;
	color: #424242;
}

.ds-footer__content {
	padding: 32px 32px;
}

/* 
General modificators
*/

.--ds-colored {
	color: #1A6DE8;
}

.--ds-colored-light {
	color: #1A6DE8;
	opacity: .54;
}