@import url('https://fonts.googleapis.com/css?family=Montserrat:700,900|Roboto:400,700&subset=cyrillic');

html, body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

.ds-h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 56px;
	text-transform: uppercase;
}

.ds-h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
}

.ds-p {
	font-size: 16px;
	font-weight: 400;
}

.ds-section__content {
	padding: 64px 32px;
    max-width: 1024px;
    margin: 0 auto;
}

.ds-header__content {
	padding-top: 32px;
	display: flex;
	justify-content: space-between;
}

.ds-separator {
	display: flex;
}

.ds-separator__link {
	display: block;
    color: rgba(0, 0, 0, .54);
    font-size: 24px;
    text-decoration: none;
    background-image: url(img/arrow-button-down.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 32px;
    margin: auto;
}

/*
Buttons 
*/

.ds-button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
	text-transform: uppercase;
	text-align: left;
    background-color: #1A6DE8;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 14px 32px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, .12);
}

.ds-button:hover {
	opacity: .8;
}

.ds-button--go {
    padding-right: 64px;
    background-image: url(img/arrow-button-go.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
}

/* 
General modificators
*/

.--ds-colored {
	color: #1A6DE8;
}

.--ds-colored-light {
	color: #1A6DE8;
	opacity: .54;
}